@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #05060f;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #05060f;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00f0ff, #ff2bd6);
  border-radius: 4px;
}
